In [29]:
# import basics
import os
import pandas as pd
from os.path import join
# Importation des modules nécessaires
from sqlalchemy import Column, Integer, String, ForeignKey
from sqlalchemy.orm import relationship
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

In [30]:
# Définir le nom de la base de données
def bk():
    return print("\n",79*'=','\n')

In [31]:
file_path = join("data/data.csv")

if os.path.exists(file_path):
    data = pd.read_csv(file_path)
    # Ouvrir le fichier CSV
    data = pd.read_csv(file_path)
else:
    bk()
    print(file_path)
    print("The file 'data.csv' does not exist in the directory 'data'")
    bk()

In [26]:
Base = declarative_base()

# Définissez vos classes de modèle
class Utilisateur(Base):
    __tablename__ = "utilisateur"

    id = Column(Integer, primary_key=True)
    nom = Column(String(255))
    prenom = Column(String(255))
    mail = Column(String(255))

    genre_id = Column(Integer, ForeignKey("genre.id"))
    genre = relationship("Genre")

    pays_id = Column(Integer, ForeignKey("pays.id"))
    pays = relationship("Pays")

class Genre(Base):
    __tablename__ = "genre"

    id = Column(Integer, primary_key=True)
    nom = Column(String(255))

class Pays(Base):
    __tablename__ = "pays"

    id = Column(Integer, primary_key=True)
    nom = Column(String(255))

<ipython-input-26-73234ee4bf21>:1: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

In [27]:

# Création de la connexion à la base de données
from sqlalchemy_utils import database_exists, create_database, drop_database

engine = create_engine("mysql+pymysql://root:root@localhost/my_database_tmp")
if database_exists(engine.url):
    drop_database(engine.url)    

create_database(engine.url)
print("is database existing?: ", database_exists(engine.url))

# Création des tables
Base.metadata.create_all(engine)

is database existing?:  True

In [32]:

# Création d'une session
Session = sessionmaker(bind=engine)
session = Session()

# Remplissage des tables Genre et Pays
genres = data['genre'].unique()
pays = data['pays'].unique()

for genre in genres:
    genre_obj = Genre(nom=genre)
    session.add(genre_obj)

for pays_nom in pays:
    pays_obj = Pays(nom=pays_nom)
    session.add(pays_obj)

# Validation des modifications pour les tables Genre et Pays
session.commit()

# Lecture du CSV pour créer les utilisateurs
for index, row in data.iterrows():
    utilisateur = Utilisateur(
        nom=row['nom'],
        prenom=row['prenom'],
        mail=row['mail'],
    )

    genre_obj = session.query(Genre).filter_by(nom=row['genre']).first()
    pays_obj = session.query(Pays).filter_by(nom=row['pays']).first()

    if genre_obj:
        utilisateur.genre_id = genre_obj.id

    if pays_obj:
        utilisateur.pays_id = pays_obj.id

    session.add(utilisateur)


# Validation des modifications
session.commit()

In [33]:
# Récupérez tous les utilisateurs
import pandas as pd 

result = session.query(Utilisateur).all()
print(result[0])

# Utilisez la fonction pd.DataFrame pour convertir la liste d'objets en DataFrame
df = pd.DataFrame([utilisateur.__dict__ for utilisateur in result])

# Supprimez la colonne '_sa_instance_state' qui est spécifique à SQLAlchemy
df = df.drop('_sa_instance_state', axis=1)
df

<__main__.Utilisateur object at 0x7fbeea309c10>

   prenom  id  genre_id  pays_id     nom                       mail
0  Dupont   1         1        1    Jean    jean.dupont@example.com
1  Martin   2         2        1   Marie   marie.martin@example.com
2  Robert   3         1        2    Paul    paul.robert@example.com
3  Dupond   4         2        3  Sophie  sophie.dupond@example.com
4  Martin   5         1        4  Pierre  pierre.martin@example.com

In [34]:
data

      nom  prenom                       mail  genre       pays
0    Jean  Dupont    jean.dupont@example.com  Homme     France
1   Marie  Martin   marie.martin@example.com  Femme     France
2    Paul  Robert    paul.robert@example.com  Homme  Allemagne
3  Sophie  Dupond  sophie.dupond@example.com  Femme     Italie
4  Pierre  Martin  pierre.martin@example.com  Homme    Espagne

In [36]:
# Utilisez SQLAlchemy pour obtenir les données avec les valeurs de genre et pays
result = session.query(
    Utilisateur.nom,
    Utilisateur.prenom,
    Utilisateur.mail,
    Genre.nom.label('genre'),  # Utilisez label pour renommer la colonne
    Pays.nom.label('pays')
).join(Genre, Utilisateur.genre_id == Genre.id).join(Pays, Utilisateur.pays_id == Pays.id).all()

result

[('Jean', 'Dupont', 'jean.dupont@example.com', 'Homme', 'France'),
 ('Paul', 'Robert', 'paul.robert@example.com', 'Homme', 'Allemagne'),
 ('Pierre', 'Martin', 'pierre.martin@example.com', 'Homme', 'Espagne'),
 ('Marie', 'Martin', 'marie.martin@example.com', 'Femme', 'France'),
 ('Sophie', 'Dupond', 'sophie.dupond@example.com', 'Femme', 'Italie')]

In [39]:
df = pd.DataFrame(result, columns=data.columns)

df

      nom  prenom                       mail  genre       pays
0    Jean  Dupont    jean.dupont@example.com  Homme     France
1    Paul  Robert    paul.robert@example.com  Homme  Allemagne
2  Pierre  Martin  pierre.martin@example.com  Homme    Espagne
3   Marie  Martin   marie.martin@example.com  Femme     France
4  Sophie  Dupond  sophie.dupond@example.com  Femme     Italie