**Exercice 0 : Créer une base de donnée vide**

Créer une base de données vide de test : 
* tmpdb

Indications

* Utiliser database_exists pour vérifier l'existence de votre base de données.
* Utiliser drop_database pour supprimer la base de données si elle existe.
* Utiliser create_database pour créer une base de données vide

In [1]:
from sqlalchemy_utils import database_exists, create_database, drop_database
from sqlalchemy import create_engine

DATABASE_HOST = "localhost"
DATABASE_NAME = "tmpdb"
DATABASE_USERNAME = "root"
DATABASE_PASSWORD = "root"

engine = create_engine(f"mysql+pymysql://{DATABASE_USERNAME}:{DATABASE_PASSWORD}@{DATABASE_HOST}/{DATABASE_NAME}")

if database_exists(engine.url):
    drop_database(engine.url)    

create_database(engine.url)
print("is database existing?: ", database_exists(engine.url))

is database existing?:  True

**exercice 1 : Créer une table**

Créer une table products avec les colonnes suivantes :

* id : un identifiant unique
* name : le nom du produit
* price : le prix du produit

Indications

* Créez une connexion à la base de données.
* Créez une session.
* Créez une classe Product pour représenter la table products.
* Fermez la session.

In [2]:
from sqlalchemy import Column, Integer, String, Float
from sqlalchemy.orm import declarative_base

# Création du moteur de base de données
engine = create_engine(f"mysql+pymysql://{DATABASE_USERNAME}:{DATABASE_PASSWORD}@{DATABASE_HOST}/{DATABASE_NAME}")  

Base = declarative_base()

class Product(Base):
    __tablename__ = "utilisateur"

    id = Column(Integer, primary_key=True ,autoincrement=True)
    name = Column(String(255))
    price = Column(Float)  

# Création des tables
Base.metadata.create_all(engine)

**exercice 2 : Insérer des données**

Énoncé

Insérer les données suivantes dans la table products :

|id | name | price|
|----|------|-------|
|1 | Produit 1 | 100|
|2 | Produit 2 | 200|

Indications

* Importez Session du module sqlalchemy.orm
* Créez une connexion à la base de données.
* Créez une session.
* Créez un objet Product pour chaque ligne de données.
* Utilisez la méthode add() pour ajouter chaque objet Product à la session.
* Utilisez la méthode commit() pour valider les modifications.
* Fermez la session.

In [3]:
from sqlalchemy.orm import Session 

# Création du moteur de base de données
engine = create_engine(f"mysql+pymysql://{DATABASE_USERNAME}:{DATABASE_PASSWORD}@{DATABASE_HOST}/{DATABASE_NAME}")  

# Session
session = Session(engine)

# Données
product_1 = Product(name="Produit 1", price=100)
product_2 = Product(name="Produit 2", price=200)

# Insertion des données
session.add(product_1)
session.add(product_2)

# Validation des modifications
session.commit()

# Fermeture de la session
session.close()

**Exercice 3 : Lire des données**

Énoncé

Lire les données de la table products et afficher les résultats.

Indications

* Créez une connexion à la base de données.
* Créez une session.
* Utilisez la méthode query() pour créer une requête sur la table products.
* Utilisez la méthode all() pour retourner tous les résultats de la requête.
* Afficher les résultats.
* Fermez la session.

In [4]:
# Création du moteur de base de données
engine = create_engine(f"mysql+pymysql://{DATABASE_USERNAME}:{DATABASE_PASSWORD}@{DATABASE_HOST}/{DATABASE_NAME}")  

# Session
session = Session(engine)

# Requête
query = session.query(Product)

# Résultats
results = query.all()

# Affichage des résultats
for result in results:
    print(result.id, result.name, result.price)

# Fermeture de la session
session.close()

1 Produit 1 100.0
2 Produit 2 200.0

**Exercice 4 : Créer une table relationnelle**

Créer trois tables relationnelles suivantes :

* products : une table pour les produits
* customers : une table pour les clients
* orders : une table pour les commandes

Indications

* Créez une connexion à la base de données.
* Créez une session.
* Créez une classe Product pour représenter la table products.
* Créez une classe Customer pour représenter la table customers.
* Créez une classe Order pour représenter la table orders.
* Utilisez la méthode create_table() pour créer les trois tables.
* Fermez la session.

In [5]:
from sqlalchemy.orm import relationship
from sqlalchemy import ForeignKey

# Nouvelle base 
Base = declarative_base()

# Création du moteur de base de données
engine = create_engine(f"mysql+pymysql://{DATABASE_USERNAME}:{DATABASE_PASSWORD}@{DATABASE_HOST}/{DATABASE_NAME}")  

# Models
class Customer(Base):
    __tablename__ = "customer"

    id = Column(Integer, primary_key=True ,autoincrement=True)
    name = Column(String(255))
    email = Column(String(255))

class Product(Base):
    __tablename__ = "product"

    id = Column(Integer, primary_key=True ,autoincrement=True)
    name = Column(String(255))
    price = Column(Float)

class Order(Base):
    __tablename__ = "order"

    id = Column(Integer, primary_key=True ,autoincrement=True)

    customer_id = Column(Integer, ForeignKey("customer.id"))
    customer = relationship("Customer")

    product_id = Column(Integer, ForeignKey("product.id"))
    product = relationship("Product")

# Création des tables
Base.metadata.create_all(engine)

# Fermeture de la session
session.close()

**Exercice 5 : insérer des données dans les trois tables**

Insérer les données suivantes dans les trois tables :

products
|id | name | price|
|----|------|-------|
|1 | Produit 1 | 100|
|2 | Produit 2 | 200|

customers
|id | name | email|
|----|------|-------|
|1 | Jean | jean@exam|ple.com
|2 | Marie | marie@exa|mple.com

orders
|id | customer_id | product_id|
|----|------|-------|
|1 | 1 | 1|
|2 | 2 | 2|

Indications

* Créez une connexion à la base de données.
* Créez une session.
* Créez des objets Product, Customer et Order pour chaque ligne de données.
* Utilisez la méthode add() pour ajouter chaque objet à la session.
* Utilisez la méthode commit() pour valider les modifications.
* Fermez la session.

In [12]:
# Connexion à la base de données
engine = create_engine(f"mysql+pymysql://{DATABASE_USERNAME}:{DATABASE_PASSWORD}@{DATABASE_HOST}/{DATABASE_NAME}")  

# Session
session = Session(engine)

# Données
product_1 = Product(name="Produit 1", price=100)
product_2 = Product(name="Produit 2", price=200)

# Insertion des données
session.add(product_1)
session.add(product_2)

# Validation des modifications
session.commit()

customer_1 = Customer(name="Jean", email="jean@example.com")
customer_2 = Customer(name="Marie", email="marie@example.com")

# Insertion des données
session.add(customer_1)
session.add(customer_2)

# Validation des modifications
session.commit()

order_1 = Order(customer_id=1, product_id=1)
order_2 = Order(customer_id=2, product_id=2)

# Insertion des données
session.add(order_1)
session.add(order_2)

# Validation des modifications
session.commit()

# Fermeture de la session
session.close()

**Exercice 6 : Lire des données des 3 tables**

Lire les données des trois tables et les afficher.

Indications

* Créez une connexion à la base de données.
* Créez une session.
* Utilisez la méthode query() pour créer une requête sur chaque table.
* Utilisez la méthode all() pour retourner tous les résultats de la requête.
* Afficher les résultats.
* Fermez la session.

In [13]:
# Connexion à la base de données
engine = create_engine(f"mysql+pymysql://{DATABASE_USERNAME}:{DATABASE_PASSWORD}@{DATABASE_HOST}/{DATABASE_NAME}")  

# Session
session = Session(engine)

# Requêtes
query_products = session.query(Product)
query_customers = session.query(Customer)
query_orders = session.query(Order)

# Résultats
products = query_products.all()
customers = query_customers.all()
orders = query_orders.all()

# Affichage des résultats
print("Produits :")
for product in products:
    print("-",product.id, product.name, product.price)

print("\nClients :")
for customer in customers:
    print("-",customer.id, customer.name, customer.email)

print("\nCommandes :")
for order in orders:
    print("-",order.id, order.customer_id, order.product_id)

# Fermeture de la session
session.close()

Produits :
- 1 Produit 1 100.0
- 2 Produit 2 500.0
- 3 Produit 1 100.0
- 4 Produit 2 200.0

Clients :
- 1 Jean jean@example.com
- 2 Marie marie@example.com
- 3 Jean jean@example.com
- 4 Marie marie@example.com

Commandes :
- 1 None None
- 3 1 1
- 4 2 2

**Exercice 7 : Lire les données d'une table en utilisant une jointure**

Lire les données de la table orders en utilisant une jointure avec la table customers pour afficher le nom du client pour chaque commande.

Indications

* Créez une connexion à la base de données.
* Créez une session.
* Utilisez la méthode query() pour créer une requête qui retourne toutes les commandes avec le nom du client associé.
* Utilisez la méthode all() pour retourner tous les résultats de la requête.
* Afficher les résultats.
* Fermez la session.

In [14]:
# Connexion à la base de données
engine = create_engine(f"mysql+pymysql://{DATABASE_USERNAME}:{DATABASE_PASSWORD}@{DATABASE_HOST}/{DATABASE_NAME}")  

# Session
session = Session(engine)

# Requête
query = session.query(Order, Customer)
query = query.join(Customer, Order.customer_id == Customer.id)

# Résultats
results = query.all()

# Affichage des résultats
for order, customer in results:
    print(order.id, order.product_id, customer.name)

# Fermeture de la session
session.close()

[(<__main__.Order object at 0x7fe536a112b0>, <__main__.Customer object at 0x7fe536a11370>), (<__main__.Order object at 0x7fe536a113a0>, <__main__.Customer object at 0x7fe536a113d0>)]
3 1 Jean
4 2 Marie

**Exercice 8 : Lire les données d'une table en utilisant une jointure multiple**

Lire les données de la table orders en utilisant une jointure multiple avec les tables products et customers pour afficher le nom du produit, le nom du client et le prix du produit pour chaque commande.

Indications

* Créez une connexion à la base de données.
* Créez une session.
* Utilisez la méthode query() pour créer une requête qui retourne toutes les commandes avec le nom du produit, le nom du client et le prix du produit associés.
* Utilisez la méthode all() pour retourner tous les résultats de la requête.
* Afficher les résultats.
* Fermez la session.

In [15]:
# Connexion à la base de données
engine = create_engine(f"mysql+pymysql://{DATABASE_USERNAME}:{DATABASE_PASSWORD}@{DATABASE_HOST}/{DATABASE_NAME}")  

# Session
session = Session(engine)

# Requête
query = session.query(Order, Product, Customer)
query = query.join(Product, Order.product_id == Product.id)
query = query.join(Customer, Order.customer_id == Customer.id)

# Résultats
results = query.all()

# Affichage des résultats
for order, product, customer in results:
    print(order.id, product.name, customer.name, product.price)

# Fermeture de la session
session.close()

3 Produit 1 Jean 100.0
4 Produit 2 Marie 500.0

**Exercice 9 : Mettre à jour les données d'une table**

Mettre à jour le prix du produit Produit 2 à 500.

Indications

* Créez une connexion à la base de données.
* Créez une session.
* Obtenez l'objet Product pour le produit Produit 2.
* Modifiez le prix du produit.
* Enregistrez les modifications.
* Fermez la session.

In [10]:
# Connexion à la base de données
engine = create_engine(f"mysql+pymysql://{DATABASE_USERNAME}:{DATABASE_PASSWORD}@{DATABASE_HOST}/{DATABASE_NAME}")  

# Session
session = Session(engine)

# Obtention de l'objet Product
product = session.query(Product).filter(Product.name == "Produit 2").first()

# Mise à jour du prix
product.price = 500

# Enregistrement des modifications
session.commit()

# vérification des modifications 
result = session.query(Product).all()

# Affichage des résultats
for product in result:
    print(product.price)

# Fermeture de la session
session.close()

100.0
500.0

# Exercice 10 : Supprimer les données d'une table

Supprimer la commande avec l'identifiant 2.

Indications

* Créez une connexion à la base de données.
* Créez une session.
* Obtenez l'objet Order pour la commande avec l'identifiant 2.
* Supprimez la commande.
* Enregistrez les modifications.
* Fermez la session.

In [11]:
# Connexion à la base de données
engine = create_engine(f"mysql+pymysql://{DATABASE_USERNAME}:{DATABASE_PASSWORD}@{DATABASE_HOST}/{DATABASE_NAME}")  

# Session
session = Session(engine)

# Obtention de l'objet Order
order = session.query(Order).filter(Order.id == 2).first()

# Suppression de la commande
session.delete(order)

# Enregistrement des modifications
session.commit()

# vérification des modifications 
result = session.query(Order).all()

# Affichage des résultats
for order in result:
    print(order.id)

# Fermeture de la session
session.close()

1